@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0c3944;
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 20px;
  background-color: #fff201;
  opacity: 90%;
  color: #0c3944;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bold;
}
